<div class="app-container">

    <div class="nav-container">
        <div style="height:100%;width:100%;">
            <div class="nav-element center-content" style="margin-bottom:20px;cursor:auto;">
                <img src="../assets/logo.png" height="70" width="70">
            </div>

            <div class="nav-element center-content" (click)="navigate(0)"
                [ngClass]="activeTab == 0 ? ' nav-element-acitve' : ''">
                <i class="fa fa-gear"></i>
            </div>

            <div class="nav-element center-content" (click)="navigate(1)"
                [ngClass]="activeTab == 1 ? ' nav-element-acitve' : ''">
                <i class="fa fa-clock-o"></i>
            </div>

            <div class="nav-element center-content" (click)="navigate(2)"
                [ngClass]="activeTab == 2 ? ' nav-element-acitve' : ''">
                <i class="fa fa-volume-up"></i>
            </div>
        </div>
    </div>


    <div class="main-container">
        <div id="workout-config" class="content-div" [ngStyle]="{'display': activeTab == 0 ? 'block' : 'none'}">

            <div class="p-grid" style="height:100vh;">

                <div class="left-panel p-sm-5 p-md-5 p-lg-4">

                    <p-card [subheader]="labels.signal_for" class="signal-for-last-card">
                        <div class="p-grid">
                            <div class="p-col-6">
                                <p-checkbox *ngFor="let option of labels.last_signal_options; let i=index;"
                                    binary="true" [label]="option" [(ngModel)]="workout.lastSignalSelected[i]"
                                    [disabled]="isWorkoutRunning || isWorkoutPaused">
                                </p-checkbox>
                            </div>
                            <div class="p-col-6">
                                <div style="width:80%;margin-bottom:15px;">
                                    <input inputLabel [title]="labels.work" type="number" min=1 max=20
                                        [(ngModel)]="workout.workWarning"
                                        [disabled]="isWorkoutRunning || isWorkoutPaused">
                                </div>
                                <div style="width:80%;">
                                    <input inputLabel [title]="labels.relax" type="number" min=1 max=20
                                        [(ngModel)]="workout.relaxWarning"
                                        [disabled]="isWorkoutRunning || isWorkoutPaused">
                                </div>
                                <div>
                                    <p-checkbox binary="true" [label]="labels.last_relax"
                                        [(ngModel)]="workout.lastRelax" [disabled]="isWorkoutRunning || isWorkoutPaused"
                                        (onChange)="calculateTotalTimeOfWorkout()">
                                    </p-checkbox>
                                </div>
                            </div>
                        </div>

                    </p-card>

                    <p-card [subheader]="labels.workout" class="rounds-delay-card">
                        <div class="p-grid">
                            <div class="p-col-6">
                                <input inputLabel [title]="labels.rounds" type="number" min=1 max=20
                                    [(ngModel)]="workout.roundsCount" (input)="refreshWorkoutModel()"
                                    onkeydown="return false" [disabled]="isWorkoutRunning || isWorkoutPaused">
                            </div>
                            <div class="p-col-6">
                                <input inputLabel [title]="labels.delay" type="number" min=1 [(ngModel)]="workout.delay"
                                    [disabled]="isWorkoutRunning || isWorkoutPaused"
                                    (change)="calculateTotalTimeOfWorkout()">
                            </div>
                        </div>

                        <p-checkbox binary="true" [label]="labels.use_first_round" [(ngModel)]="workout.useFirstRound"
                            [disabled]="isWorkoutRunning || isWorkoutPaused" (onChange)="calculateTotalTimeOfWorkout()">
                        </p-checkbox>

                        <p-checkbox binary="true" [label]="labels.use_first_base" [(ngModel)]="workout.useFirstBase"
                            [disabled]="isWorkoutRunning || isWorkoutPaused" (onChange)="calculateTotalTimeOfWorkout()">
                        </p-checkbox>
                    </p-card>

                    <p-card class="bases-card">
                        <div class="p-grid">
                            <div class="p-col-6" style="padding:0">
                                <p-fieldset [legend]="labels.bases" class="no-border">
                                    <input *ngFor="let base of workout.basesCount; let i=index; trackBy:trackByIndex;"
                                        inputLabel type="number" min=1 max=50 [title]="'R' + (i+1)" [marginTop]="'3px'"
                                        [(ngModel)]="workout.basesCount[i]" (input)="basesInputChange(i)"
                                        [disabled]="isWorkoutRunning || isWorkoutPaused">
                                </p-fieldset>
                            </div>
                            <div class="p-col-6" style="padding:0">
                                <p-fieldset [legend]="labels.relaxes" class="no-border">
                                    <input *ngFor="let relax of workout.relaxes; let i=index; trackBy:trackByIndex;"
                                        inputLabel type="number" min=1 [title]="'R' + (i+1) + '&' + (i+2)"
                                        [marginTop]="'3px'" [(ngModel)]="workout.relaxes[i]"
                                        [disabled]="isWorkoutRunning || isWorkoutPaused"
                                        (change)="calculateTotalTimeOfWorkout()">
                                </p-fieldset>
                            </div>
                        </div>
                    </p-card>

                </div>

                <div class="right-panel p-sm-7 p-md-7 p-lg-8">

                    <p-card class="rounds-card">
                        <p-tabView>
                            <p-tabPanel *ngFor="let roundTab of workout.rounds; let i=index; trackBy:trackByIndex;"
                                [header]="labels.round_prefix + (i+1)" [selected]="i == 0"
                                [disabled]="workout.useFirstRound && i != 0">

                                <div class="p-grid" style="max-height:300px;overflow-y:scroll;">
                                    <div *ngFor="let inputs of roundTab; let j=index; trackBy:trackByIndex;"
                                        class="p-col-4" style="padding: 0.5em 15px;margin-top:10px">
                                        <div style="width:50%;float:left;">
                                            <label style="display:block;text-align:center;"
                                                [ngStyle]="{'color': (workout.useFirstBase && j != 0) ? 'lightgray' : 'black'}">
                                                {{labels.work + ' ' + (j < 9 ? '0'+(j+1) : (j+1)) + labels.seconds_suffix}}</label>
                                            <input style="display:block;" class="double-input-field" type="number" min=0
                                                [(ngModel)]="workout.rounds[i][j].workTime"
                                                [disabled]="isWorkoutRunning || isWorkoutPaused || (workout.useFirstBase && j != 0)"
                                                (change)="calculateTotalTimeOfWorkout()">
                                        </div>
                                        <div style="width:50%;float:left;">
                                            <label style="display:block;text-align:center;"
                                                [ngStyle]="{'color': (workout.useFirstBase && j != 0) ? 'lightgray' : 'black'}">
                                                {{labels.relax + ' ' + (j < 9 ? '0'+(j+1) : (j+1)) + labels.seconds_suffix}}</label>
                                            <input style="display:block;" class="double-input-field" type="number" min=0
                                                [(ngModel)]="workout.rounds[i][j].relaxTime"
                                                [disabled]="isWorkoutRunning || isWorkoutPaused || (workout.useFirstBase && j != 0)"
                                                (change)="calculateTotalTimeOfWorkout()">
                                        </div>
                                    </div>
                                </div>

                            </p-tabPanel>
                        </p-tabView>
                    </p-card>

                    <div class="total-time-buttons-div p-grid">

                        <p-card [subheader]="labels.total_time" class="total-time-card p-col-6 p-md-6 p-lg-8">
                            <div style="width:100%;height:100%;font-size:6.5vw;padding-bottom:25px;"
                                class="center-content">
                                {{totalTimeOfWorkout | minuteSeconds}}
                            </div>
                        </p-card>
                        <p-card [subheader]="labels.saved_workouts" class="buttons-card p-col-6 p-md-6 p-lg-4">

                            <p-dropdown [options]="loadedWorkouts"
                                (onChange)="$event.value ? workout = $event.value : ''"
                                [disabled]="isWorkoutRunning || isWorkoutPaused">
                            </p-dropdown>

                            <div class="ui-inputgroup" style="margin-top:15px;">
                                <input type="text" pInputText [placeholder]="labels.workout_name"
                                    [(ngModel)]="saveWorkoutInput" style="width:100%;"
                                    [disabled]="isWorkoutRunning || isWorkoutPaused">
                                <button pButton type="button" icon="pi pi-save" (click)="saveWorkout()"
                                    [disabled]="isWorkoutRunning || isWorkoutPaused">
                                </button>
                            </div>

                            <button pButton type="button" [label]="labels.go_to_workout" class="ui-button-danger"
                                icon="pi pi-play" iconPos="right" (click)="navigate(1)"
                                style="width:100%;position:absolute;bottom:20px;height:50px;"></button>

                        </p-card>
                    </div>
                </div>

            </div>
        </div>

        <div id="workout-timer" class="content-div" [ngStyle]="{'display': activeTab == 1 ? 'block' : 'none'}">

            <div style="width:90%;float:left;">

                <div class="p-grid" style="height:10vh;padding-top:10px;">
                    <div class="center-content p-col-6">
                        <div style="width:100%;text-align:center;">
                            <div style="color:var(--secondary-color-3)">Round</div>
                            <div style="font-size:30px;">
                                <div>
                                    <span class="top">{{currentRound+1}}</span>
                                    <span class="line">&#47;</span>
                                    <span class="bottom">{{workout.roundsCount}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center-content p-col-6">
                        <div style="width:100%;text-align:center;">
                            <div style="color:var(--secondary-color-3)">Base</div>
                            <div style="font-size:30px;">
                                <div>
                                    <span class="top">{{currentBase+1}}</span>
                                    <span class="line">&#47;</span>
                                    <span
                                        class="bottom">{{workout.useFirstRound ? workout.basesCount[0] : workout.basesCount[currentRound]}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="height:70vh;">
                    <div class="center-content" style="height:100%;">
                        <countdown-timer [wholeTime]="wholeTime" [seconds]="currentTime" [status]="currentStatus"
                            [isPaused]="isWorkoutPaused">
                        </countdown-timer>
                    </div>
                </div>

                <div class="p-grid" style="height:10vh;">
                    <div class="center-content p-col-6">
                        <div style="width:100%;text-align:center;">
                            <div style="color:var(--secondary-color-3)">Elapsed Time</div>
                            <div style="font-size:30px;">{{elapsedTime | minuteSeconds}}</div>
                        </div>
                    </div>
                    <div class="center-content p-col-6">
                        <div style="width:100%;text-align:center;">
                            <div style="color:var(--secondary-color-3)">Remaining Time</div>
                            <div style="font-size:30px;">{{remainingTime | minuteSeconds}}</div>
                        </div>
                    </div>
                </div>

                <div class="p-grid" style="height:10vh;">
                    <div class="p-col-6">

                        <button pButton type="button" *ngIf="!isWorkoutRunning"
                            [label]="isWorkoutPaused ? 'Resume' : 'Start'" class="ui-button-primary" icon="pi pi-play"
                            iconPos="right" style="height:90%;width:60%;float:right;margin-top:15px;"
                            (click)="isWorkoutPaused ? resumeWorkout() : startWorkout()"></button>
                        <button pButton type="button" *ngIf="isWorkoutRunning" label="Pause" class="ui-button-primary"
                            icon="pi pi-pause" iconPos="right" style="height:90%;width:60%;float:right;margin-top:15px;"
                            (click)="pauseWorkout()"></button>
                    </div>
                    <div class="p-col-6">
                        <button pButton type="button" label="Reset" class="ui-button-danger" icon="pi pi-undo"
                            iconPos="right" style="height:90%;width:60%;float:left;margin-top:15px;"
                            [disabled]="isWorkoutRunning" (click)="resetWorkout()"></button>
                    </div>
                </div>
            </div>

            <div style="width:10%;float:left;height:100%;">
                <p-progressBar class="progress" [value]="calculateProgress()"></p-progressBar>
            </div>
        </div>

        <div id="sounds-settings" class="p-grid content-div" [ngStyle]="{'display': activeTab == 2 ? 'block' : 'none'}">

            <p-card subheader="Signals" class="p-col-12 p-xl-6 setting-card">
                <div class="p-grid">
                    <div class="p-col-6">
                        <ul class="settings-ul">
                            <li *ngFor="let signalType of signals; let i = index"
                                [ngClass]="i == selectedSignalType ? 'active' : ''" (click)="selectedSignalType = i;">
                                {{signalType.label}}
                            </li>
                        </ul>
                    </div>

                    <div class="p-col-6" style="max-height:300px;overflow-y:scroll;">
                        <div *ngFor="let fileName of soundsFileNames; let i = index" style="width:100%;padding:3px 0;">
                            <p-radioButton name="{{signals[selectedSignalType].id}}" value="{{fileName}}"
                                label="{{fileName}}" [(ngModel)]="signals[selectedSignalType].wav"
                                inputId="{{fileName}}" (onClick)="previewSound(i)">
                            </p-radioButton>
                        </div>
                        <div style="width:100%;float:right;">
                            <input type="file" id="fileLoader" style="display:none;" accept="audio/wav"
                                (change)="uploadWavFile($event)" multiple />
                            <button pButton type="button" class="ui-button-secondary" icon="pi pi-upload" iconPos="left"
                                style="margin-top:15px;width:100%;" (click)="doc.getElementById('fileLoader').click();"
                                [disabled]="isWorkoutRunning || isWorkoutPaused"></button>
                        </div>
                    </div>
                    <div class="bottom-nav">
                        <button type="button" pButton label="Save" style="width:150px;float:right;"
                            (click)="saveSoundsSettings()" [disabled]="isWorkoutRunning || isWorkoutPaused"></button>
                        <button type="button" pButton label="Reset default" class="ui-button-danger"
                            style="width:150px;margin-right:10px;float:right;" (click)="resetSoundsSettings()"
                            [disabled]="isWorkoutRunning || isWorkoutPaused"></button>
                    </div>
                </div>
            </p-card>

            <p-card subheader="Signals" class="p-col-12 p-xl-6 setting-card">
                <ul class="settings-ul">
                    <li *ngFor="let workout of loadedWorkouts.slice(1); let i = index"
                        [ngClass]="i == selectedWorkoutIndex ? 'active' : ''" (click)="selectedWorkoutIndex = i;">
                        {{workout.label}}
                    </li>
                </ul>

                <div class="bottom-nav">
                    <button type="button" pButton [label]="labels.delete" class="ui-button-danger"
                        style="width:150px;margin-right:10px;float:right;" (click)="deleteWorkout(selectedWorkoutIndex)"
                        [disabled]="isWorkoutRunning || isWorkoutPaused" icon="pi pi-trash" iconPos="right"></button>
                </div>
            </p-card>

        </div>
    </div>
</div>

<p-toast></p-toast>