.app-container {
    width: 100%;
    height: 100%;
    background: var(--primary-color-1);
    overflow-y: auto;
}

.nav-container {
    width: 90px;
    height: 100%;
    background: #353e45;
    float: left;
}

.main-container {
    width: calc(100% - 82px);
    height: 100vh;
    background: #e7ebee;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-left: -8px;
    float: left;
}

.nav-element {
    width: 82px;
    height: 82px;
    line-height: 82px;
    cursor: pointer;
    i {
        font-size: 30px;
        color: var(--primary-color-1);
    }
}

.nav-element-acitve {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #e7ebee;
    i {
        font-size: 38px;
        color: var(--secondary-color-3);
    }
}

.content-div {
    height: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.ui-card {
    margin-top: 20px;
    height: calc(100% - 20px);
    border-radius: 5px !important;
}

.left-panel {
    min-width: 210px;
    height: 100%;
    display: flex;
    flex-flow: column;
    float: left;
    align-items: center;
}

.signal-for-last-card {
    width: 100%;
    flex: 0 1 auto;
    p-checkbox {
        display: block;
        margin-bottom: 10px;
    }
    .ui-chkbox-box {
        transform: scale(0.75);
    }
    .ui-chkbox-box.ui-state-active {
        border-color: var(--secondary-color-3) !important;
        background-color: var(--secondary-color-3) !important;
        color: #ffffff;
    }

    .ui-chkbox-box.ui-state-focus {
        border-color: var(--secondary-color-3) !important;
        box-shadow: 0 0 0 0.2 var(--secondary-color-3) !important;
    }
}

.rounds-delay-card {
    width: 100%;
    flex: 0 1 auto;
}

.bases-card {
    .ui-card {
        overflow-y: scroll;
    }
    width: 100%;
    flex: 1 1 0;
    min-height: 0;
}

.no-border {
    .ui-fieldset {
        border: none;
        font-size: 0.8rem;
        .ui-fieldset-legend-text {
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.right-panel {
    float: left;
    display: flex;
    flex-flow: column;
    height: 100%;
    .ui-card-body,
    .ui-card-content {
        height: 100%;
    }
}

.rounds-card {
    flex: 0 1 400px;
    .ui-tabview {
        height: 99%;
        padding: 0;
    }
    .ui-tabview-panels {
        height: 90%;
        min-height: 150px;
        border: none !important;
    }

    .ui-tabview .ui-tabview-nav {
        white-space: nowrap;
        overflow-x: auto;
        li {
            background-color: var(--secondary-color-1) !important;
            border: 1px solid var(--secondary-color-1) !important;
            &:not(.ui-state-active):not(.ui-state-disabled):hover {
                background-color: var(--secondary-color-2) !important;
                border: 1px solid var(--secondary-color-2) !important;
            }
            &.ui-state-active {
                background-color: var(--secondary-color-3) !important;
                border: 1px solid var(--secondary-color-3) !important;
                &:hover {
                    background-color: var(--secondary-color-3) !important;
                    border: 1px solid var(--secondary-color-3) !important;
                }
            }
            &:focus {
                box-shadow: 0 0 0 0.2em var(--secondary-color-2) !important;
            }
            a {
                padding: 2px 5px;
            }
        }
    }
    .ui-tabview .ui-tabview-nav li {
        display: inline-block;
        float: none;
    }
}

.total-time-buttons-div {
    flex: 1 1 0;
}

.total-time-card {
    padding-top: 0px;
    padding-bottom: 0px;
}

.buttons-card {
    padding-top: 0px;
    padding-bottom: 0px;
    .ui-card-content {
        position: relative;
    }
    p-dropdown {
        .ui-dropdown {
            width: 100%;
            margin-top: 20px;
        }
    }
}

.progress {
    flex: 0 1 auto;
    .ui-progressbar {
        height: 75px;
        border: 1px solid var(--secondary-color-2);
        margin-bottom: 2px;
        .ui-progressbar-value {
            background: var(--progress-bar-color);
        }
        .ui-progressbar-label {
            display: none !important;
        }
    }
}
.times {
    flex: 1 1 auto;
    margin-top: 10px;
    .whole {
        height: 80px;
        width: 100%;
        span {
            height: 100%;
            width: 100%;
            font-size: 3.5vw;
        }
    }
    .time {
        height: 100%;
        width: 100%;
        span {
            height: 100%;
            width: 100%;
            font-size: 18vw;
        }
    }
    .round-base {
        height: 100%;
        width: 100%;
        padding: 0;
        .half-height {
            height: 48%;
        }
        span {
            height: 100%;
            width: 100%;
            font-size: 5vw;
        }
    }
}

.double-input {
    width: 25%;
}

.double-input-field {
    width: 100%;
    padding: 2px 2px;
    color: #99a3ba;
    border: 1px solid #cdd9ed;
    background: #ffffff;
    transition: border 0.3s ease;
    &::placeholder {
        color: #cbd1dc;
    }
    &:focus {
        outline: none;
        border-color: var(--secondary-color-1);
    }
}

.progress-label {
    position: absolute;
    height: 50%;
    width: 120px;
    z-index: 10000;
    font-weight: bold;
}

.bottom {
    color: #000000;
    color: var(--secondary-color-3);
}

.top {
    font-size: 50px;
    margin-left: 10px;
    font-weight: bold;
}

.line {
    font-size: 50px;
}

.signal-card {
    float: left;
    margin-right: 1%;
    width: 50%;
    .ui-card {
        height: 400px;
        width: 100%;
    }
}

.folder-card {
    float: left;
    width: 35%;
    .ui-card {
        width: 100%;
        height: auto;
    }
}

.signal-type-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border-right: 1px solid rgb(230, 230, 230);
    li {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
        cursor: pointer;
        text-shadow: 0 0 1px #000;
    }
    li.active {
        background-color: #007ad9;
        color: white;
        font-weight: bold;
    }

    li:hover:not(.active) {
        background-color: #555;
        color: white;
    }
}
