<p-toast></p-toast>
<div class="app-container">
  <app-navigation class="navigation-container" [activeTab]="activeTab"
    (navigationChange)="navigate($event)"></app-navigation>

  <div class="main-container">

    <app-workout-configuration class="full-screen"
      [ngStyle]="{'display': activeTab == 0 ? 'block' : 'none'}"></app-workout-configuration>
    <app-workout-timer class="full-screen"
      [ngStyle]="{'display': activeTab == 1 ? 'block' : 'none'}"></app-workout-timer>
  </div>


</div>