::ng-deep {
  .history-card {
    .p-card-body {
      padding-bottom: 50px;
    }

    .p-card-content {
      overflow: hidden;
    }
  }

  .p-message-wrapper {
    justify-content: space-between;
  }

  .table-action-button {
    height: 39px;
    width: 39px;
  }
}

.preview-bottom-actions {
  float: right;
  padding: 8px 0;
}