::ng-deep {
  .history-card {
    .p-card-body {
      padding-bottom: 50px;
    }

    .p-card-content {
      overflow: hidden;
    }
  }

  .p-message-wrapper {
    justify-content: space-between;
  }
}

.table-action {
  margin-right: 5px;
}

.preview-bottom-actions {
  float: right;
  padding: 8px 0;
}