<div style="height:100%;margin-left:15px;margin-right:15px;padding-top:10px;">

    <div divLabel title="Signal for">
        <div>
            <label *ngFor="let option of lastSignalOptions; let i=index;" class="checkbox" style="margin-right:20px;">
                <input type="checkbox" value="option.value" [(ngModel)]="lastSignalSelected[i]" class="checkbox" />
                {{option.label}}
            </label>
        </div>
    </div>

    <div class="p-grid" style="height:calc(100% - 33px);">

        <div class="left-panel p-sm-5 p-md-4 p-lg-3">

            <div class="p-grid rounds-delay-panel">
                <div class="p-col-6">
                    <input inputLabel title="Rounds" type="number" min=0 max=50 [(ngModel)]="roundsInput"
                        (input)="roundsInputChange()">
                </div>
                <div class="p-col-6">
                    <input inputLabel title="Delay[s]" type="number" [(ngModel)]="delayInput">
                </div>
            </div>

            <div class="p-grid bases-panel">
                <div class="p-col-6" style="padding:0">
                    <p-fieldset legend="Bases" class="no-border">
                        <input *ngFor="let base of basesInput; let i=index; trackBy:trackByIndex;" inputLabel
                            type="number" min=0 [title]="'R' + (i+1)" [marginTop]="'3px'" [(ngModel)]="basesInput[i]"
                            (input)="basesInputChange(i)">
                    </p-fieldset>
                </div>
                <div class="p-col-6" style="padding:0">
                    <p-fieldset legend="Relaxes[s]" class="no-border">
                        <input *ngFor="let relax of relaxesInput; let i=index; trackBy:trackByIndex;" inputLabel
                            type="number" min=0 [title]="'R' + (i+1) + '&' + (i+2)" [marginTop]="'3px'"
                            [(ngModel)]="relaxesInput[i]">
                    </p-fieldset>
                </div>
            </div>

            <div class="buttons-panel">
                <p-dropdown [options]="cities1" [(ngModel)]="selectedCity1" class="button-style"></p-dropdown>
                <p-button label="Start" styleClass="ui-button-secondary" class="button-style" type="button"
                    icon="pi pi-play">
                </p-button>
                <p-button label="Reset" styleClass="ui-button-secondary" class="button-style" type="button"
                    icon="pi pi-undo">
                </p-button>
                <p-button label="Save workout" styleClass="ui-button-secondary" class="button-style" type="button"
                    icon="pi pi-save"></p-button>
            </div>

        </div>


        <div class="right-panel p-sm-7 p-md-8 p-lg-9">

            <p-tabView class="rounds-tabs">
                <p-tabPanel *ngFor="let roundTab of roundsTabs; let i=index; trackBy:trackByIndex;"
                    [header]="'Round ' + (i+1)" [selected]="i == 0">

                    <div class="p-grid" style="max-height: 260px;overflow-y: scroll;">
                        <div *ngFor="let inputs of roundTab; let j=index; trackBy:trackByIndex;" class="p-col-4"
                            style="padding: 0.5em 15px;margin-top:10px">
                            <div style="width:50%;float:left;">
                                <label style="display:block;text-align:center;">Worktime
                                    {{j < 9 ? '0'+(j+1) : (j+1)}}[s]</label>
                                <input style="display:block;" class="double-input-field" type="number" min=0>
                            </div>
                            <div style="width:50%;float:left;">
                                <label style="display:block;text-align:center;">Relaxtime
                                    {{j < 9 ? '0'+(j+1) : (j+1)}}[s]</label>
                                <input style="display:block;" class="double-input-field" type="number" min=0>
                            </div>
                        </div>
                    </div>

                </p-tabPanel>
            </p-tabView>

            <p-progressBar class="progress" [value]="35"></p-progressBar>


            <div class="times p-grid" style="margin-top:10px;">

                <div class="p-col-2">
                    <div divLabel class="whole" title="Whole">
                        <span class="center-content">
                            {{whole}}
                        </span>
                    </div>
                </div>

                <div class="p-col-7">
                    <div divLabel class="time p-col-8" title="Time">
                        <span class="center-content">
                            {{time}}
                        </span>
                    </div>
                </div>

                <div class="p-col-3">
                    <div class="round-base p-col-3">
                        <div divLabel class="half-height" title="Round">
                            <span class="center-content">
                                {{round}}
                            </span>
                        </div>
                        <div style="height:4%;"></div>
                        <div divLabel class="half-height" title="Base">
                            <span class="center-content">
                                {{base}}
                            </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>