.checkbox:hover {
    cursor: pointer;
}

.left-panel {
    min-width: 200px;
    height: 100%;
    display: flex;
    flex-flow: column;
    float: left;
    align-items: center;
    .rounds-delay-panel {
        margin-top: 20px;
        margin-bottom: 20px;
        flex: 0 1 auto;
        min-height: 0;
    }
    .bases-panel {
        min-height: 0;
        flex: 1 1 0;
        padding-bottom: 25px;
        border-top: 1px solid var(--secondary-color-1);
        border-bottom: 1px solid var(--secondary-color-1);
        overflow-y: scroll;
    }
    .buttons-panel {
        max-width: 280px;
        min-height: 0;
        margin-top: 20px;
        padding: 0 20px 30px 5px;
        flex: 0 1 auto;
        .ui-dropdown {
            min-width: 10px;
            border: 1px solid #efefef;
        }
        .ui-button.ui-state-default.ui-button-secondary,
        body .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default {
            background-color: var(--secondary-color-1);
            border: 1px solid var(--secondary-color-2);
        }
        .ui-button.ui-state-default.ui-button-secondary:enabled:hover,
        body .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default:enabled:hover {
            background-color: var(--secondary-color-2);
        }
    }
}

.button-style {
    button {
        width: 100%;
    }
    div {
        width: 100%;
        margin-bottom: 5px;
    }
    width: 100%;
    margin-bottom: 5px;
}

.right-panel {
    float: left;
    display: flex;
    flex-flow: column;
    .rounds-tabs {
        flex: 0 1 43%;
        margin-bottom: 10px;
        margin-top: 10px;
        .ui-tabview {
            height: 99%;
            padding: 0;
        }
        .ui-tabview-panels {
            height: 90%;
            min-height: 150px;
            border: 1px solid rgb(185, 185, 185);
        }
        .ui-tabview .ui-tabview-nav {
            white-space: nowrap;
            overflow-x: auto;
            li {
                background-color: var(--secondary-color-1);
                border: 1px solid var(--secondary-color-1);
                &:not(.ui-state-active):not(.ui-state-disabled):hover {
                    background-color: var(--secondary-color-2);
                    border: 1px solid var(--secondary-color-2);
                }
                &.ui-state-active {
                    background-color: var(--secondary-color-3);
                    border: 1px solid var(--secondary-color-3);
                    &:hover {
                        background-color: var(--secondary-color-3);
                        border: 1px solid var(--secondary-color-3);
                    }
                }
                &:focus {
                    box-shadow: 0 0 0 0.2em var(--secondary-color-2);
                }
                a {
                    padding: 2px 5px;
                }
            }
        }
        .ui-tabview .ui-tabview-nav li {
            display: inline-block;
            float: none;
        }
    }
    .progress {
        flex: 0 1 auto;
        .ui-progressbar {
            height: 75px;
            border: 1px solid var(--secondary-color-2);
            margin-bottom: 2px;
            .ui-progressbar-value {
                background: var(--progress-bar-color);
            }
            .ui-progressbar-label {
                display: none !important;
            }
        }
    }
    .times {
        flex: 1 1 auto;
        margin-top: 10px;
        .whole {
            height: 80px;
            width: 100%;
            span {
                height: 100%;
                width: 100%;
                font-size: 3.5vw;
            }
        }
        .time {
            height: 100%;
            width: 100%;
            span {
                height: 100%;
                width: 100%;
                font-size: 18vw;
            }
        }
        .round-base {
            height: 100%;
            width: 100%;
            padding: 0;
            .half-height {
                height: 48%;
            }
            span {
                height: 100%;
                width: 100%;
                font-size: 5vw;
            }
        }
    }
}

.no-border {
    .ui-fieldset {
        border: none;
        font-size: 0.8rem;
        .ui-fieldset-legend-text {
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.double-input {
    width: 25%;
}

.double-input-field {
    width: 100%;
    padding: 2px 2px;
    color: #99a3ba;
    border: 1px solid #cdd9ed;
    background: #ffffff;
    transition: border 0.3s ease;
    &::placeholder {
        color: #cbd1dc;
    }
    &:focus {
        outline: none;
        border-color: var(--secondary-color-1);
    }
}

.save-workout-button {
    input {
        width: 100%;
        background: var(--secondary-color-1);
        border: 1px solid var(--secondary-color-2);
        border-right: 0;
    }
}