<div class="content-div grid">

  <div class="left-panel sm:col-5 md:col-5 lg:col-4">

    <p-card [subheader]="labels.signal_for" class="settings-card signals-card">
      <div class="grid m0">
        <div class="col-6 pl0">
          <p-inputGroup *ngFor="let option of labels.last_signal_options; let i=index;" class="line">
            <p-inputGroupAddon class="prefix-addon addon">
              <p-checkbox [label]="option" [(ngModel)]="wo.lastSignalSelected[i]" [binary]="true"></p-checkbox>
            </p-inputGroupAddon>
            <ng-container>
              <input pInputText pKeyFilter="int" type="number" class="p-inputtext-sm"
                [(ngModel)]="wo.lastSignalSeconds[i]" [min]="1" [defaultValue]="defaultWorkout.lastSignalSeconds[i]" />
            </ng-container>
            <p-inputGroupAddon class="suffix-addon addon">{{labels.seconds_suffix}}</p-inputGroupAddon>
          </p-inputGroup>
        </div>

        <div class="col-6 pr0">
          <p-inputGroup class="line">
            <p-inputGroupAddon class="prefix-addon addon">
              <span class="prefix-label">{{labels.work}}</span>
            </p-inputGroupAddon>
            <input pInputText pKeyFilter="int" type="number" class="p-inputtext-sm" [min]="0" [max]="20"
              [(ngModel)]="wo.workWarning" [defaultValue]="defaultWorkout.workWarning">
            <p-inputGroupAddon class="suffix-addon addon">{{labels.seconds_suffix}}</p-inputGroupAddon>
          </p-inputGroup>

          <p-inputGroup class="line">
            <p-inputGroupAddon class="prefix-addon addon">
              <span class="prefix-label">{{labels.relax}}</span>
            </p-inputGroupAddon>
            <input pInputText pKeyFilter="int" class="p-inputtext-sm" [min]="0" [max]="20" [(ngModel)]="wo.relaxWarning"
              [defaultValue]="defaultWorkout.relaxWarning">
            <p-inputGroupAddon class="suffix-addon addon">{{labels.seconds_suffix}}</p-inputGroupAddon>
          </p-inputGroup>

          <div class="last-relax">
            <p-checkbox [binary]="true" [label]="labels.last_relax" [(ngModel)]="wo.lastRelax"
              (onChange)="calculateTotalTimeOfWorkout()">
            </p-checkbox>
          </div>
        </div>
      </div>
    </p-card>

    <p-card [subheader]="labels.workout" class="settings-card mt8 workout-card">
      <div class="grid m0">
        <div class="col-6">
          <p-inputGroup class="line">
            <p-inputGroupAddon class="prefix-addon addon">
              <span class="prefix-label">{{labels.rounds}}</span>
            </p-inputGroupAddon>
            <input pInputText pKeyFilter="int" type="number" class="p-inputtext-sm" [min]="1" [max]="50"
              [(ngModel)]="wo.roundsCount" [defaultValue]="defaultWorkout.roundsCount" (input)="refreshWorkoutModel()">
          </p-inputGroup>
        </div>
        <div class="col-6">
          <p-inputGroup class="line">
            <p-inputGroupAddon class="prefix-addon addon">
              <span class="prefix-label">{{labels.delay}}</span>
            </p-inputGroupAddon>
            <input pInputText pKeyFilter="int" type="number" class="p-inputtext-sm" [min]="1" [(ngModel)]="wo.delay"
              [defaultValue]="defaultWorkout.delay" (change)="calculateTotalTimeOfWorkout()">
            <p-inputGroupAddon class="suffix-addon addon">{{labels.seconds_suffix}}</p-inputGroupAddon>
          </p-inputGroup>
        </div>
      </div>

      <p-checkbox [(ngModel)]="wo.useFirstRound" [label]="labels.use_first_round" [binary]="true"
        (onChange)="calculateTotalTimeOfWorkout()"></p-checkbox>

      <p-checkbox [(ngModel)]="wo.useFirstBase" [label]="labels.use_first_base" [binary]="true"
        (onChange)="calculateTotalTimeOfWorkout()" class="mt8"></p-checkbox>
    </p-card>

    <p-card class="settings-card mt8 bases-card" [header]="labels.bases" [subheader]="labels.relaxes">
      <div class="grid m0">
        <div class="col-6">
          <p-inputGroup class="line" *ngFor="let base of wo.basesCount; let i=index; trackBy:trackByIndex;">
            <p-inputGroupAddon class="prefix-addon addon">
              <span class="prefix-label">{{'R' + (i+1)}}</span>
            </p-inputGroupAddon>
            <input pInputText pKeyFilter="int" type="number" class="p-inputtext-sm" [min]="1" [max]="50"
              [(ngModel)]="wo.basesCount[i]" [defaultValue]="1" (input)="basesInputChange(i)"
              (change)="calculateTotalTimeOfWorkout()">
          </p-inputGroup>
        </div>
        <div class="col-6">
          <p-inputGroup class="line" *ngFor="let relax of wo.relaxes; let i=index; trackBy:trackByIndex;">
            <p-inputGroupAddon class="prefix-addon addon">
              <span class="prefix-label">{{'R' + (i+1) + '&' + (i+2)}}</span>
            </p-inputGroupAddon>
            <input pInputText pKeyFilter="int" type="number" class="p-inputtext-sm" [min]="1"
              [(ngModel)]="wo.relaxes[i]" [defaultValue]="10" (input)="basesInputChange(i)"
              (change)="calculateTotalTimeOfWorkout()">
          </p-inputGroup>
        </div>
      </div>
    </p-card>

  </div>
</div>