<div class="content-div grid">

  <div class="left-panel sm:col-5 md:col-5 lg:col-4">
    <p-card [subheader]="labels.signal_for" class="settings-card signals-card">
      <div class="grid m0">
        <div class="col-6 pl0">
          <p-inputGroup *ngFor="let option of labels.last_signal_options; let i=index;" class="line">
            <p-inputGroupAddon class="prefix-addon addon">
              <p-checkbox [label]="option" [(ngModel)]="wo.lastSignalSelected[i]" [binary]="true"
                [disabled]="isWorkoutRunning || isWorkoutPaused"></p-checkbox>
            </p-inputGroupAddon>
            <ng-container>
              <input pInputText pKeyFilter="int" type="number" class="p-inputtext-sm"
                [(ngModel)]="wo.lastSignalSeconds[i]" [min]="1" [defaultValue]="defaultWorkout.lastSignalSeconds[i]"
                [disabled]="isWorkoutRunning || isWorkoutPaused" />
            </ng-container>
            <p-inputGroupAddon class="suffix-addon addon">{{labels.seconds_suffix}}</p-inputGroupAddon>
          </p-inputGroup>
        </div>

        <div class="col-6 pr0">
          <p-inputGroup class="line">
            <p-inputGroupAddon class="prefix-addon addon">
              <span class="prefix-label">{{labels.work}}</span>
            </p-inputGroupAddon>
            <input pInputText pKeyFilter="int" type="number" class="p-inputtext-sm" [min]="0" [max]="20"
              [(ngModel)]="wo.workWarning" [defaultValue]="defaultWorkout.workWarning"
              [disabled]="isWorkoutRunning || isWorkoutPaused">
            <p-inputGroupAddon class="suffix-addon addon">{{labels.seconds_suffix}}</p-inputGroupAddon>
          </p-inputGroup>

          <p-inputGroup class="line">
            <p-inputGroupAddon class="prefix-addon addon">
              <span class="prefix-label">{{labels.relax}}</span>
            </p-inputGroupAddon>
            <input pInputText pKeyFilter="int" class="p-inputtext-sm" [min]="0" [max]="20" [(ngModel)]="wo.relaxWarning"
              [defaultValue]="defaultWorkout.relaxWarning" [disabled]="isWorkoutRunning || isWorkoutPaused">
            <p-inputGroupAddon class="suffix-addon addon">{{labels.seconds_suffix}}</p-inputGroupAddon>
          </p-inputGroup>

          <div class="last-relax">
            <p-checkbox [binary]="true" [label]="labels.last_relax" [(ngModel)]="wo.lastRelax"
              (onChange)="workoutService.calculateTotalTimeOfWorkout()"
              [disabled]="isWorkoutRunning || isWorkoutPaused">
            </p-checkbox>
          </div>
        </div>
      </div>
    </p-card>

    <p-card [subheader]="labels.workout" class="settings-card mt8 workout-card">
      <div class="grid m0">
        <div class="col-6">
          <p-inputGroup class="line">
            <p-inputGroupAddon class="prefix-addon addon">
              <span class="prefix-label">{{labels.rounds}}</span>
            </p-inputGroupAddon>
            <input pInputText pKeyFilter="int" type="number" class="p-inputtext-sm" [min]="1" [max]="50"
              [(ngModel)]="wo.roundsCount" [defaultValue]="defaultWorkout.roundsCount" (input)="refreshWorkoutModel()"
              [disabled]="isWorkoutRunning || isWorkoutPaused">
          </p-inputGroup>
        </div>
        <div class="col-6">
          <p-inputGroup class="line">
            <p-inputGroupAddon class="prefix-addon addon">
              <span class="prefix-label">{{labels.delay}}</span>
            </p-inputGroupAddon>
            <input pInputText pKeyFilter="int" type="number" class="p-inputtext-sm" [min]="1" [(ngModel)]="wo.delay"
              [defaultValue]="defaultWorkout.delay" (defaultValueChange)="workoutService.calculateTotalTimeOfWorkout()"
              (change)="workoutService.calculateTotalTimeOfWorkout()" [disabled]="isWorkoutRunning || isWorkoutPaused">
            <p-inputGroupAddon class="suffix-addon addon">{{labels.seconds_suffix}}</p-inputGroupAddon>
          </p-inputGroup>
        </div>
      </div>

      <p-checkbox [(ngModel)]="wo.useFirstRound" [label]="labels.use_first_round" [binary]="true"
        (onChange)="workoutService.calculateTotalTimeOfWorkout()"
        [disabled]="isWorkoutRunning || isWorkoutPaused"></p-checkbox>

      <p-checkbox [(ngModel)]="wo.useFirstBase" [label]="labels.use_first_base" [binary]="true"
        (onChange)="workoutService.calculateTotalTimeOfWorkout()" [disabled]="isWorkoutRunning || isWorkoutPaused"
        class="mt8"></p-checkbox>
    </p-card>

    <p-card class="settings-card mt8 bases-card" [header]="labels.bases" [subheader]="labels.relaxes">
      <div class="grid m0">
        <div class="col-6">
          <p-inputGroup class="line" *ngFor="let base of wo.basesCount; let i=index; trackBy:trackByIndex;">
            <p-inputGroupAddon class="prefix-addon addon">
              <span class="prefix-label">{{'R' + (i+1)}}</span>
            </p-inputGroupAddon>
            <input pInputText pKeyFilter="int" type="number" class="p-inputtext-sm" [min]="1" [max]="50"
              [(ngModel)]="wo.basesCount[i]" [defaultValue]="1" (input)="basesInputChange(i)"
              [disabled]="isWorkoutRunning || isWorkoutPaused">
          </p-inputGroup>
        </div>
        <div class="col-6">
          <p-inputGroup class="line" *ngFor="let relax of wo.relaxes; let i=index; trackBy:trackByIndex;">
            <p-inputGroupAddon class="prefix-addon addon">
              <span class="prefix-label">{{'R' + (i+1) + '&' + (i+2)}}</span>
            </p-inputGroupAddon>
            <input pInputText pKeyFilter="int" type="number" class="p-inputtext-sm" [min]="1"
              [(ngModel)]="wo.relaxes[i]" [defaultValue]="10"
              (defaultValueChange)="workoutService.calculateTotalTimeOfWorkout()"
              (change)="workoutService.calculateTotalTimeOfWorkout()" [disabled]="isWorkoutRunning || isWorkoutPaused">
          </p-inputGroup>
        </div>
      </div>
    </p-card>
  </div>

  <div class="right-panel sm:col-7 md:col-7 lg:col-8">
    <p-card class="settings-card rounds-card">
      <p-tabView>
        <p-tabPanel *ngFor="let roundTab of wo.rounds; let i=index; trackBy:trackByIndex;"
          [header]="labels.round_prefix + (i+1)" [selected]="i==0" [disabled]="i>0 && wo.useFirstRound">
          <div class="grid">
            <div *ngFor="let inputs of roundTab; let j=index; trackBy:trackByIndex;" class="col-4 round-pair">
              <div class="work-input">
                <label class="rounds-label" [ngClass]="{'disabled': j>0 && wo.useFirstBase}">
                  {{labels.work + ' ' + (j+1 | number: '2.0-0') + labels.seconds_suffix}}
                </label>
                <input pInputText pKeyFilter="int" type="number" class="p-inputtext-sm" [defaultValue]="5"
                  (defaultValueChange)="workoutService.calculateTotalTimeOfWorkout()"
                  [(ngModel)]="wo.rounds[i][j].workTime" (change)="workoutService.calculateTotalTimeOfWorkout()"
                  style="width:100%" [disabled]="isWorkoutRunning || isWorkoutPaused || j>0 && wo.useFirstBase">
              </div>
              <div class="relax-input">
                <label class="rounds-label" [ngClass]="{'disabled': j>0 && wo.useFirstBase}">
                  {{labels.relax + ' ' + (j+1 | number : '2.0-0') + labels.seconds_suffix}}
                </label>
                <input pInputText pKeyFilter="int" type="number" class="p-inputtext-sm" [defaultValue]="5"
                  (defaultValueChange)="workoutService.calculateTotalTimeOfWorkout()"
                  [(ngModel)]="wo.rounds[i][j].relaxTime" (change)="workoutService.calculateTotalTimeOfWorkout()"
                  style="width:100%" [disabled]="isWorkoutRunning || isWorkoutPaused || j>0 && wo.useFirstBase">
              </div>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </p-card>

    <div class="total-time-container grid">
      <p-card [subheader]="labels.total_time" class="total-time-card col-6 md:col-6 lg:col-8">
        <div class="time-container center-content">
          {{workoutService.totalTimeOfWorkout * 1000 | date: 'mm:ss' }}
        </div>
      </p-card>

      <p-card [subheader]="labels.saved_workouts" class="saved-workout-card col-6 md:col-6 lg:col-4">
        <p-dropdown [options]="workoutsFileService.workouts" (onChange)="selectWorkout($event)" optionLabel="name"
          optionValue="workout" [placeholder]="labels.select_workout" [disabled]="isWorkoutRunning || isWorkoutPaused">
        </p-dropdown>

        <p-inputGroup class="save-workout">
          <input type="text" pInputText [placeholder]="labels.workout_name" [(ngModel)]="saveWorkoutInput"
            [disabled]="isWorkoutRunning || isWorkoutPaused" />
          <button type="button" pButton icon="pi pi-save" (click)="saveWorkout()"
            [disabled]="isWorkoutRunning || isWorkoutPaused"></button>
        </p-inputGroup>

        <button pButton type="button" [label]="labels.go_to_workout" icon="pi pi-play" iconPos="right"
          style="width:100%;margin-top:auto;" (click)="navigate.emit(1)"></button>
      </p-card>
    </div>

  </div>
</div>